# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=syncra
DB_PASS=syncra123
DB_NAME=syncra

# Redis Configuration
REDIS_URL=redis://localhost:6379

# JWT Configuration
JWT_SECRET=bb908d47a4ad91e4bab3c786bc1849be2f98dc44e5795ebd52a3493ac849dca68bbb040f53d2f6513f59fcc69f2787e99e5a8e2e6cbb5a86efa0c87a87f1560a

# API Configuration
PORT=3000
NODE_ENV=development
